.dashboard{
    background-color: #4880FF;
    text-decoration: none;
    color: #FFFFFF;
}
.flex{
    display: flex;
}
.colorGris{
    color: #646464;
}
.colorVerde{
    color: #00B69B;
}
.ColorRojo{
    color: #F93C65;
}
#ent{
    border: 1px ;
    background-color: #00B69B;
    color: #FFFFFF;
    border-radius: 360px;
}
.strong{
    font-weight: bold;
}
.link{
    text-decoration: none;
    color: black;
}
.pagActual{
    text-decoration: none;
    color:#FFFFFF;
}
.colorAzul{
    color: #4880FF;
}
.imagenFondo{
    background-image: url('fondo.png');
}
#fondoNaranja{
    background-color: #FF8743;
    color: #FFFFFF;
}
.fondoGris{
    background-color: #E2EAF8;
    color: black;
}